body{
    padding: 0%;
    margin: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.container{
    width: 80%;
    margin: 0px auto;
    display:flex;
}
.half-width{
    width: 50%;
}
.header-text{
    font-size: 35px;
    font-family: 'PT Serif', serif;
    margin-top: 150px;
    display: flex;

}
.border{
    width: 4px;
    height: 110px;
    border-radius: 4px;
    background-color:#ff5959;
    margin-right: 10px;
    margin-top: 18px;
}
.header-text h1{
    margin:0px;
}
.heading-color{
    color:#f2a756;
   
}
.header-sub-text{
    padding-bottom: 20px;
    color:#656565;
}
.header-scroll-text{
    padding:20px 0px;
    color:#656565;
    font-size: 14px;
}
.button{
    background-color:#ff5959;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}
.header-image{
    width: 65%;
    display: block;
    margin: 0px auto;
}
/*Mission css*/
.mission-heading-text{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.mission-box{
    width: 33.33%;
    margin: 20px;
    background-color:olive;
    border-radius: 15px;
    padding: 20px 20px;
    
}
.mission-box img{
    width: 50%;
}
.mission-box p{
    font-size: 13px;
    color:#656565;
}

.box-bg-1{
    background-color: #edf5f6;
}

.box-bg-2{
    background-color: #ffeeee;
}
.box-bg-3{
background-color: #fff4d6;
}

